body {
    background-image:url('bg_rp2.gif');
   background-color:#b60934;
   color:#c1b492;	
   background-repeat: repeat;
   line-height: 1.5;
   text-align: center;
}  
/*This is the design stuff*/
.huvuddiv {
    text-align: center;
}
.switch{
    display: flex;
    flex-direction: column;
    border: solid white 0.004px;
    background-image: url('bg205.gif');
    border-radius: 1% 100%;
    background-repeat: repeat;
    image-resolution: 1px 1px;
    min-width: 25%;
    max-width: 95%;
    min-height: 50%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: black 0px 5px 10px;
    letter-spacing:20px;
    image-rendering: pixelated;
}
.switch2{
    display: flex;
    flex-direction: column;
    border: solid white 0.004px;
    background-image: url('bg205.gif');
    border-radius: 54% 100% 60%;
    background-repeat: repeat;
    image-resolution: 1px 1px;
    min-width: 25%;
    max-width: 95%;
    min-height: 50%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: black 0px 5px 10px;
    letter-spacing:20px;
    image-rendering: pixelated;
}
.top{
    background-color: #8f717191;
    border: solid 0.00001cqb;
    border-radius: 12% 5% 19% 11%;
    background-image: url('bg_rp2.gif');
    background-repeat: repeat;
    min-width: fit-content;
    max-width: 75%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: black 0px 5px 10px;
    padding-top: 40px;
    padding-bottom: 5%;
    letter-spacing:2px;
	image-rendering: pixelated;
	-webkit-font-smoothing: none;
}
.left bottom{
    display: inline;
    justify-content: left;
}
.bottom{
    background-color: #00000000;
    background-image: url('bg205.gif');
    border: solid 0.001cqb;
    border-radius: 12% 5% 19% 11%;
    background-repeat: repeat;
    width:fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    box-shadow: black 0px 5px 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    letter-spacing:2px;
	image-rendering:pixelated
}
/* button stuff bellow*/
/*Homepagebuttons*/ 
.wrapper nav div{
    list-style: none;
}
.wrapper nav div li{
    margin: 12px 0px;
}
.wrapper nav div li a{
    color: #c1b492;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
.wrapper nav div li a::after{
    content: "";
    width: 0    ;
    height: 4.5px;
    background: #f941444e;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 450ms;
}
.wrapper nav div li a:hover::after{
    width: 100%;
}
/*back button*/
/*Cod nav*/
.flex-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    flex-wrap: inherit;
    flex-direction: row;
  }
  
  .flex-item {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    align-items: center;
    text-transform: uppercase;
    margin-right: 12px; /* Adjust spacing as needed */
  }
  
  .flex-item a {
    color: #c1b492;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-decoration: none;
    word-spacing: 5px;
    margin: auto;
  }
  
  .flex-item img {
    margin-top: 10px; /* Adjust spacing as needed */
  }
  
  .flex-item a:hover::after {
    width: 100%;
  }
  
  .highlight nav {
    list-style: none;
  }
  
  .highlight nav ul {
    margin: 12px 0px;
  }
  
  .highlight nav ul li a {
    color: #c1b492;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
  }
  
  .highlight nav ul li a::after {
    content: "";
    width: 0;
    height: 50px;
    background: #f941444e;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 450ms;
  }
  
  .highlight nav ul li a:hover::after {
    width: 100%;
  }
  