:root {
  --background: #f5f8fa;
  --text: #14171a;
  --header-background: #f6d1a8;
  --form-background: #fff;
  --input-background: #ffffff;
  --primary-color: #f6d1a8;
  --secondary-color: #a17979;
}

[data-theme="dark"] {
  --background: #1e1d1d;
  --text: #f5f8fa;
  --header-background: #0c0c0c;
  --form-background: #241b1b;
  --input-background: #5757577e;
  --primary-color: #518db3;
  --secondary-color: #979797;
}

body {
  font-family: 'Arial', sans-serif;
  background: var(--background);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text);
  transition: background 0.5s, color 0.5s;
}

.header {
  background-color: var(--header-background);
  color: #ffffff;
  padding: 10px 5px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.settings-wrapper {
  display: flex;
  align-items: center;
}

.theme-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.theme-button:focus {
  outline: none;
}

#theme-icon {
  font-size: 1.5em;
  color: var(--text);
}

.main {
  display: flex;
  flex: 1;
  margin-top: 70px; /* Adjust for fixed header */
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.hero h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.hero p {
  font-size: 1.2em;
  color: var(--secondary-color);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
}

#form-container {
  background-color: var(--form-background);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-align: center;
  font-size: 1.5em;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--input-background);
  color: var(--text);
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
  text-align: center;
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
