body {
    background-color: #7b2a12;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    overflow: hidden; /* Prevent scrollbars */
    display: flex;
    flex-direction: column; /* Use flex column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Ensure body takes full height of the viewport */
}

.img {
    user-select: none;
    pointer-events: none;
}

.border {
    display: flex;
    flex-direction: column; /* Ensure border div also stacks elements vertically */
    align-items: center; /* Center elements within the border div */
}

.border > div {
    border: 4px solid rgba(21, 76, 25, 0.694);
    background-color:  rgb(60, 120, 59);
    border-radius: 5% 5%;
    width: fit-content;
    padding: 10px; /* Add some padding for better appearance */
    box-shadow: 0 10px 23px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    margin: 30px; /* Add margin for spacing between elements */
}

.text {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    color: #ffffff; /* red */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
    animation: pulse 2s infinite; /* Add a pulsing animation */
    text-align: center; /* Ensure text is centered within the element */
}

.particle {
    position: absolute;
    width: 25px; /* Adjust size as needed */
    height: 25px;
    pointer-events: none; /* Ensure they don't interfere with mouse events */
    opacity: 1; /* Initial opacity */
    animation: fall 5s linear, fade 4s linear, drift 6s ease-in-out infinite; /* Removed rotate animation */
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh); /* Ensures particles fall down the full height of the viewport */
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes drift {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px); /* Adjust the horizontal drift range */
    }
    100% {
        transform: translateY(-50px); /* Adjust the horizontal drift range */
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
